@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  direction: ltr;
}

.jq-ry-container[readonly=readonly] {
  cursor: default;
}

.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #021206;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  color: #fff;
  background-color: rgb(102, 102, 102);
  padding: 30px 0;
}
.header a {
  color: inherit;
  text-transform: uppercase;
}

.logo {
  font-size: 2em;
  display: inline-block;
  padding-right: 70px;
  transition: all 0.5s;
}
.logo:hover {
  opacity: 0.7;
}
.logo:active {
  color: #e0edcf;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  padding-right: 20px;
}
.nav__link {
  font-size: 1.2em;
  transition: all 0.5s;
}
.nav__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.nav__link:active {
  color: #e0edcf;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-right__label {
  padding-right: 15px;
}
.nav-right__input {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 10px 8px 20px;
  color: #fff;
}
.nav-right__input::-moz-placeholder {
  color: #fff;
  font-style: italic;
}
.nav-right__input::placeholder {
  color: #fff;
  font-style: italic;
}
.nav-right__btn {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border-radius: 15px;
  border: 1px solid transparent;
}
.nav-right__btn path {
  transition: all 0.5s;
}
.nav-right__btn:hover path {
  fill: rgb(202, 195, 195);
}
.nav-right__btn:focus {
  box-shadow: 0px 0px 0px 1px #f0f3ee;
}
.nav-right__btn:active path {
  fill: rgb(202, 195, 195);
  opacity: 0.5;
}

.product {
  padding-top: 70px;
  font-size: 1.1em;
}
.product__stars {
  margin-bottom: 40px;
}
.product__wrap {
  display: flex;
  gap: 50px;
}
.product-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-left span {
  display: block;
  margin-bottom: 10px;
}
.product-left__list {
  display: flex;
  align-items: center;
}
.product-left__list:not(:last-child) {
  margin-bottom: 20px;
}
.product-left__item {
  width: 50px;
  height: 50px;
  color: rgb(204, 204, 204);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.product-left__item:hover {
  background-color: rgb(102, 102, 102);
  color: #fff;
}
.product-left__item:not(:last-child) {
  margin-right: 5px;
}
.product-left__bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.product-left__btn {
  background-color: rgb(76, 76, 76);
  color: #fff;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  transition: all 0.5s;
}
.product-left__btn:focus {
  box-shadow: 0px 0px 0px 4px rgba(160, 162, 157, 0.5019607843);
}
.product-left__btn:hover {
  opacity: 0.7;
}
.product-left__btn:active {
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1019607843);
}
.product-right {
  display: flex;
  flex-direction: column;
  min-width: 35vw;
}
.product-right__list {
  display: flex;
  justify-content: space-between;
}
.product-right__img {
  border-radius: 15px;
}
.product-right__main {
  border-radius: 15px;
  margin-bottom: 20px;
}
.product-right__item:not(:last-child) {
  padding-right: 10px;
}
.product__title {
  padding-bottom: 15px;
}
.product p {
  padding-bottom: 10px;
}/*# sourceMappingURL=style.css.map */