.product {
  padding-top: 70px;
  font-size: 1.1em;

  &__stars {
    margin-bottom: 40px;
  }

  &__wrap {
    display: flex;
    gap: 50px;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & span {
      display: block;
      margin-bottom: 10px;
    }

    &__list {
      display: flex;
      align-items: center;
    }

    &__list:not(:last-child) {
      margin-bottom: 20px;
    }

    &__item {
      width: 50px;
      height: 50px;
      color: rgb(204, 204, 204);
      border: 1px solid rgb(204, 204, 204);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;

      // Вопрос: Стоит ли задавать :focus & :active, если элементы не являются ссылками или кнопками? Или стоит их переделать на кнопки?

      // &:focus {
      //   box-shadow: 0px 0px 0px 4px #a0a29d80;
      // }

      &:hover {
        background-color: rgb(102, 102, 102);
        color: #fff;
      }
    }

    &__item:not(:last-child) {
      margin-right: 5px;
    }

    &__btn {
      background-color: rgb(76, 76, 76);
      color: #fff;
      width: 150px;
      height: 35px;
      border-radius: 15px;
      transition: all 0.5s;

      &:focus {
        box-shadow: 0px 0px 0px 4px #a0a29d80;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        box-shadow: 0px 10px 4px #0000001a;
      }
    }
  }

  &-right {
    max-width: 40vw;

    &--first {
      text-align: center;
      margin: 0 auto 30px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__img {
      border-radius: 15px;
    }

    &__main {
      width: 80%;
      border-radius: 15px;
    }

    &__item:not(:last-child) {
      padding-right: 10px;
    }
  }

  &__title {
    padding-bottom: 15px;
  }
  & p {
    padding-bottom: 10px;
  }
}
